<!-- <div class="container">
    <header></header>
    <div class="body">
        <router-outlet></router-outlet>
    </div>
    <footer></footer>
</div> -->

<button (click)="_onClickBtnToggle()">Toggle button delete</button>
<ng-container *ngIf="isVisible">
  <!-- <button
    (click)="_onClickBtnDelete($event, btnDelete)"
    class="br-btn-delete"
    #btnDelete
  >
    click me
  </button> -->
  <br-btn-delete
    #btnDelete
    (onInitialized)="_handleOnInitializedBtnDelete($event)"
  ></br-btn-delete>
</ng-container>

<div style="display: flex; flex-direction: column">
  <br-item
    #brITem
    *ngFor="let item of items"
    [value]="item"
    (onDelete)="onDeleteItem($event)"
  ></br-item>
</div>
