<div class="tab-title" #tabTitle>
    <ng-container *ngFor="let item of tabList">
        <div class="label" #tab 
            [class.active]="item.key == tabItem.key" 
            [class.disable]="isTabDisable(item.key)" 
            (click)="handleChangeTab(item.key) "
        >
            <span class="material-symbols-outlined tab-icon" *ngIf="item.icon">{{item.icon}}</span>
            {{item.label}}
        </div>
    </ng-container>
    <div class="indicator" #indicator>

    </div>
</div>

<div #content>
    
</div>

