@use 'styles/mixin' as *;
@use 'styles/color' as *;

:host {
    display: inline-block;
    width: 100%;
}

.tab-head {
    margin-bottom: 20px;
    display: flex;
    border-bottom: 1px solid#e7e7e7;
    position: relative;
    
    .bar-move {
        position: absolute;
        bottom: 0;
        height: 2px;
        background: $information;
        transition: all 0.3s ease;
    }
}

.label {
    margin: 16px 4px;
    padding: 0 10px;
    cursor: pointer;
    transition: color 0.2s ease-in;
    &:hover {
        color: $information;
    }
    &.isActive {
        color: $information;
    }
}
