@use 'styles/mixin' as *;
@use 'styles/color' as *;

:host {
    display: inline-block;
    width: 100%;
}

.tab-head {
    margin-bottom: 20px;
    display: flex;
    gap: 20px;
    border-bottom: 1px solid#ccc;
    .label {
        margin: 16px 4px;
        cursor: pointer;
        transition: color 0.2s ease-in;
        &:hover {
            color: $information;
        }
    }
    .isActive {
        color: $information;
    }
}
