@use "styles/mixin" as *;


.file-item {
    margin: 10px 0;
    padding: 10px;
    line-height: 1.4;
    background-color: #e3ebf7;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    &.haveLink {
        background-color: #f8faff; 
    }
    .file-inf {
        @include df-center;
        gap: 10px;
        .file-name {
            font-weight: bold;
            font-size: 12px;
            &.haveLink {
                font-weight: 100;
                font-size: 14px;
            }
            &:hover {
                text-decoration: underline;
                cursor: pointer;
            }
        }
        
        .file-size {
            font-size: 12px;
            color: #777;
        }
    }

    .progress {
        @include df-center;
    }
    
    .btn-delete {
        border: none;
        background: none;
        .icon-close {   
            width: 100%;
            height: 100%;
            font-size: 16px;
            color: #777;
            cursor: pointer;
        }

    }
}