<div class="footer">
    <div class="item">
        <h5>Thông tin về chúng tôi</h5>

        <ul>
            <li>Thông tin</li>
            <li>Thông tin</li>
            <li>Thông tin</li>
            <li>Thông tin</li>
        </ul>
    </div>
    <div class="item">
        <h5>Chính sách</h5>
        <ul>
            <li>Chính sách 1</li>
            <li>Chính sách 2</li>
            <li>Chính sách 3</li>
            <li>Chính sách 4</li>
        </ul>
    </div>
    <div class="item">
        <h5>Liên hệ</h5>
        <ul>
            <li>Số điện thoại</li>
            <li>Email</li>
            <li>Địa chỉ</li>
        </ul>
    </div>
</div>