:host {
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 99px;
    overflow: hidden;
    border: 1px solid #ccc;
}


img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


span { 
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blue;
    color: #fff;
    font-weight: bold;
    letter-spacing: 0.1em;
    font-size: 12px;
}