@use "styles/mixin" as *;

.icon-attach-file {
  text-align: center;
  margin-bottom: 10px;
  color: #0000ff;
  font-weight: bold;
  cursor: pointer;
}
.input {
  margin: 20px 0;
  padding: 24px;
  border: 2px dashed #505078;
  border-radius: 10px;
  @include df-center;
  flex-direction: column;
  .btn-down {
    background: none;
    border: none;
    color: #0000ff;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }
  .text-box {
    width: 60%;
  }
}

.mini-text {
  position: relative;
  font-size: 12px;
  margin: 10px;
  text-align: center;
  color: #999;
  .text-content {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .tooltip-text {
    position: absolute;
    bottom: -50;
    left: 100%;
    transform: translateX(-50%);

    background-color: black;
    color: #fff;
    padding: 6px 10px;
    border-radius: 6px;

    white-space: normal;
    width: max-content;
    max-width: 300px;

    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s ease;
    z-index: 10;
  }
}
.tooltip:hover .tooltip-text {
  opacity: 1;
  visibility: visible;
}

.error {
  display: inline-block;
  padding: 0 4px 8px;
  font-size: 10px;
  font-weight: bold;
  color: red;
}
