@use "styles/mixin" as *;

:host {
    padding: 20px;
    display: block;
}

h1 {
    margin: 10px 0;
    
}

.search {
    width: 40vh;
    padding: 4px 10px;
    margin: 10px 0;
    outline: none;
}

table {
    font-size: 14px;
    border-collapse: collapse;
    width: 100%;
    td, th {
        border: 1px solid #ddd;
        padding: 8px;
    }
    
    th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #0f04aa;
    color: white;
    }

    .btn-column {
        display: flex;
        gap: 10px;
        button {
            border: none;
            background-color: #ddd;
            padding: 4px 12px;
            border-radius: 5px;
            cursor: pointer;
        }

        .btn-update {
            color: #fff;
            background-color: #1100ff;
        }

        .btn-delete {
            color: #fff;
            background-color: #ff0000;
        }
    }
}

