<div class="file-inf">
  <div class="file-img">
    <img src="assets/imageBravo/{{typeFile}}.svg" alt="ảnh" *ngIf="uploadItem.fileItem" />
    <img
      src="assets/imageBravo/link.svg"
      alt="ảnh"
      *ngIf="uploadItem.link"
    />
  </div>

  <div class="detail">
    <p class="file-name" [class.haveLink]="uploadItem.link">
      {{ uploadItem.fileItem?.file?.name || uploadItem.link }}
    </p>
    <div 
      class="custom-progress" 
      *ngIf="uploadItem.fileItem && progress < 100"
    >
      <div 
        class="progress-fill" 
        [style.width.%]="progress"
      ></div>
    </div>
    <p class="file-size" *ngIf="uploadItem.fileItem">
      {{ uploadItem.fileItem.file.size | byteType: 2 : "B" : "MB" }}
    </p>
  </div>
</div>

<div class="btn-box">
    <span
    class="material-symbols-outlined icon-error"
    *ngIf="uploadItem.fileItem?.state === false"
  >
    cancel
  </span>

  <span
    class="material-symbols-outlined icon-success"
    *ngIf="uploadItem.link || uploadItem.fileItem?.state == true"
  >
    check_circle
  </span>

  <button (click)="onDelete()" class="btn-delete">
    <span class="material-symbols-outlined icon-close">
      close
    </span>
  </button>
</div>
