<div class="product-detail">
    <div class="product-img">
        <img [src]="product.img" alt="">
    </div>

    <div class="product-inf">
        <div class="product-name">
            <h5>{{product.name}}</h5>
            <p>{{product.description}}</p>
        </div>
        <div class="product-price">
            <p>{{product.unit}}</p>
            <p class="price">${{product.price}}</p>
        </div>

        <div class="button-box">
            <br-custom-button size="14px" variant="outlined" color="#530a0a" [block]="true" (click)="buy()">Buy Now</br-custom-button>
            <br-custom-button size="14px" variant="outlined" color="#530a0a" [block]="true" (click)="addCart(product.id)">Add Cart</br-custom-button>
        </div>
    </div>
</div>

