@use 'styles/mixin' as *;

:host {
    display: block;
    height: 350px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 10px;
    overflow: hidden;
}

.product-item {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    .product-img {
        flex: 1;
        width: 100%;
        height: 50%;
        border-bottom: 1px solid #ccc;
        @include df-center;
        img {
            width: 50%;
            height: 100%;
        }
    }   

    .product-inf {
        flex: 1;
        @include df-center;
        gap: 14px;
        flex-direction: column;
        .product-name {
            line-height: 1.4;
            h5 {
                text-align: center;
                font-size: 14px;
                margin: 4px;
            }
            p {
                text-align: center;
                font-size: 12px;
                color: #777;
            }
        }

        .product-price {
            @include df-center;
            gap: 20px;
            font-size: 12px;
            
            .price {
                font-size: 14px;
                color: #000;
                font-weight: bold;
            }
        }
    }

    .button-box {
        @include df-center;
        gap: 10px;
        width: 100%;
        button {
            padding: 4px;
            color: #6e0808;
            border-radius: 5px;
            border: 1px solid #3e0000;
            background: none;
            flex: 1;
            cursor: pointer;
            transition: background-color 0.25s ease-in-out;
            &:hover {
                background-color: #6e0808;
                color: #fff;
            }
        }
    }
}
