@use "styles/mixin" as *;

.input-url {
  @include df-center;
  margin: 8px 0;
  padding: 10px;
  border: 1px solid #ccc;
  gap: 24px;
  border-radius: 5px;
  input {
    padding: 4px;
    width: 100%;
    outline: none;
    border: none;
  }

  .btn-add_link {
    border: none;
    padding: 4px 8px;
    background: none;
    background-color: #ccc;
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
    &.has-link {
      background-color: #0000ff;
      color: #fff;
    }
  }
}
.valid-link {
  border: 1px solid #22c55e;
}
.invalid-link {
  border: 1px solid #ef4444;
}

.error {
  color: red;
  font-size: 12px;
  font-weight: bold;
}
