<h4>Table Panel</h4>

<div class="dropdown-box">
    <label for="layout">Layout config: </label>
    <select class="dropdown" id="layout" [(ngModel)]="layout">
        <option [ngValue]="i"
            *ngFor="let i of configLayout; let ind = index"
        >Layout {{ind+1}}</option>
    </select>
</div>
<form (ngSubmit)="onSubmit()" [formGroup]="formContainer">
    <bravo-panel class="panel" [form]="formContainer" [config]="layout" />
    <button type="submit" class="btn-submit" [class.disabled]="formContainer.invalid">Submit</button>
</form>
