<h4>Table Panel</h4>

<div class="dropdown-box">
    <label for="layout">Layout config: </label>
    <select class="dropdown" id="layout" [(ngModel)]="layout">
        @for (item of configLayout; track $index) {
            <option [ngValue]="item"
            >Layout {{$index+1}}</option>
        }
    </select>
</div>
<form (ngSubmit)="onSubmit()" [formGroup]="formContainer">
    <bravo-panel class="panel" [form]="formContainer" [config]="layout" />
    <button type="submit" class="btn-submit" [class.disabled]="invalid">Submit</button>
</form>

<!-- hiển thị value -->
<pre>
    {{formContainer.value | json}}
</pre>
