<div class="file-inf">
  <div class="file-img">
    <img src="assets/imageBravo/pdf.svg" alt="ảnh" *ngIf="typeFile == 'pdf'" />
    <img
      src="assets/imageBravo/docx.svg"
      alt="ảnh"
      *ngIf="typeFile == 'world'"
    />
    <img
      src="assets/imageBravo/link.svg"
      alt="ảnh"
      *ngIf="typeFile == 'link'"
    />
  </div>

  <div class="detail">
    <p class="file-name" [class.haveLink]="uploadItem.link">
      {{ uploadItem.fileItem?.file?.name || uploadItem.link }}
    </p>
    <mat-progress-bar
      class="progress-bar"
      mode="determinate"
      *ngIf="this.uploadItem.fileItem && progress < 100"
      [value]="progress"
    />
    <p class="file-size" *ngIf="uploadItem.fileItem">
      {{ uploadItem.fileItem.file.size | byteType: 2 : "B" : "MB" }}
    </p>
  </div>
</div>

<div class="btn-box">
  <mat-icon class="icon-error" *ngIf="uploadItem.fileItem?.state == false">
    cancel
  </mat-icon>
  <mat-icon
    class="icon-success"
    *ngIf="uploadItem.link || uploadItem.fileItem?.state == true"
  >
    check_circle
  </mat-icon>

  <button (click)="onDelete()" class="btn-delete">
    <mat-icon class="icon-close">close</mat-icon>
  </button>
</div>
