@use "styles/mixin" as *;

:host {
  margin: 10px 0;
  padding: 10px;
  line-height: 1.4;
  background-color: #e3ebf7;
  @include df-center;
  gap: 10px;
  border-radius: 5px;

  width: 100%;
  overflow: hidden;
}

.haveLink {
  background-color: #f8faff;
}

.file-inf {
  display: flex;
  align-items: center;
  gap: 10px;
  flex: 1;
  min-width: 0;
}

.detail {
  flex: 1;
  min-width: 0;
  .progress-bar {
    border-radius: 5px;
  }
  .file-name {
    font-weight: bold;
    font-size: 12px;
    display: block;
    background: none;

    flex: 1;
    min-width: 0;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    &.haveLink {
      font-weight: 100;
      font-size: 14px;
    }

    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }

  .file-size {
    font-size: 12px;
    color: #777;
  }

  .custom-progress {
    width: 100%;
    height: 6px;
    background: #e0e0e0;
    border-radius: 4px;
    overflow: hidden;
  }

  .progress-fill {
    height: 100%;
    background: #4285f4; /* màu Google */
    transition: width 0.3s ease;
  }
}

.btn-box {
  @include df-center;
  margin-right: 10px;
  flex-shrink: 0; // không cho nút bị co

  .icon-success {
    color: #24a124;
    font-size: 16px;
    @include df-center;
  }

  .icon-error {
    color: #a12424;
    font-size: 16px;
    @include df-center;
  }

  .btn-delete {
    border: none;
    background: none;
    display: flex;
    .icon-close {
      width: 100%;
      height: 100%;
      font-size: 16px;
      color: #777;
      cursor: pointer;
    }
  }
}
