@use "styles/mixin" as *;

:host {
    // background-color: antiquewhite;
    display: inline-block;
    width: 40vw;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
    overflow: hidden;
}

.top {
    padding: 10px 20px;
    
    .icon-attch-file {
        text-align: center;
        margin-bottom: 10px;
        color: #0000ff;
        font-weight: bold;
        cursor: pointer;
    }
    .input {
        margin: 24px 0;
        padding: 24px;
        border: 2px dashed #505078;
        border-radius: 10px;
        @include df-center;
        flex-direction: column;
        .btn-down {
            background: none;
            border: none;
            color: #0000ff;
            font-size: 14px;
            font-weight: bold;
            cursor: pointer;
            &:hover {
                text-decoration: underline;
            }
        }
    
        p {
            font-size: 12px;
            margin: 10px;
            text-align: center;
            color: #999;
        }
    }
    .input-url {
        @include df-center;
        margin: 8px 0;
        padding: 10px;
        border: 1px solid #ccc;
        gap: 24px;
        border-radius: 5px;
        input {
            padding: 4px;
            width: 100%;
            outline: none;
            border: none;
        }
    
        .btn-add_link {
            border: none;
            padding: 4px 8px;
            background: none;
            background-color: #ccc;
            color: #fff;
            border-radius: 3px;
            cursor: pointer;
            &.haveLink {
                background-color: #0000ff;
                color: #fff;
            }
        }
    }
}


.btn-box {
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: end;
    background-color: #ebebeb;
    gap: 10px;
    &.haveFile {
        background-color: #fff;
    }
    button {
        min-width: 70px;
        padding: 6px 8px;
        border: none;
        background: none;
        border-radius: 5px;
        cursor: pointer;
    }

    .btn-clear {
        border: 1px solid #ccc;
        background-color: #fff;
    }
    
    .btn-acept {
        background-color: #999;
        color: #fff;
    }

    .btn-save {
        background-color: #0000ff;
        color: #fff;
    }
}