
<div class="user-card" *ngFor="let user of users"  [ngStyle]="{ width: width + 'px'}">

    <div class="card-avatar">
        <img [src]="user.avatar" alt="">
    </div>

    <div class="user-inf">
        <h4>{{user.name}}</h4>
        <p>{{user.description}}</p>

        <button class="btn-blue" (click)="onClick(user.id)" *ngIf="user.age >= 20; else noAge">
            View More
        </button>

        <ng-template #noAge>
            <button (click)="onClick(user.id)" class="btn-red">
                No More
            </button>
        </ng-template>
    </div>
</div>
