@use 'styles/mixin' as *;


.user-card {
    @include df-center;
    flex-direction: column;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    transition: transform 0.25s ease;
    &:hover {
        transform: scale(1.05);
    }
    .card-avatar {
        padding: 24px;
        width: 100%;
        flex: 1;
        background-color: #002aff;
        @include df-center;
        img {
            width: 100px;
            height: 100px;
            border-radius: 99px;
            border: 2px solid #fff;
        }
    }

    .user-inf {
        padding: 12px 24px;
        background-color: #fff;
        flex: 1;
        @include df-center;
        flex-direction: column;
        h4 {
            margin: 0;
            font-weight: 600;
        }
        p {
            margin: 12px 0;
            text-align: center;          
            font-size: 14px;            
            line-height: 1.5;           
            color: #777;          
        }
        button {
            border: none;
            background-color: #002aff;
            color: #fff;
            padding: 10px 12px;
            border-radius: 10px;
            cursor: pointer;
        }
    }
}
