:host {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 24px;
}


.product-item {
  cursor: pointer;
  transition: transform 0.25s ease-in-out;
  &:hover {
    transform: scale(1.05);
  }
}