
<!-- <div class="search">
    <p>{{searchName}}</p>
    <input type="text" placeholder="Search" [(ngModel)]="searchName">
</div>

<button class="btn-filter"(click)="filter()">Filter</button> -->

<div class="filter-box" [class.show]="isFilter">
    <ul class="filter">
        <li>Giá</li>
        <li>Số sao</li>
    </ul>
</div>

<div class="product-list">
    <product-item  *ngFor="let product of products" 
        [product]="product" 
        (buySome)="buy($event)"
        class="product-item"
    ></product-item>
</div>