
.search {
  margin-bottom: 24px;

  input {
    width: 30vw;
    padding: 4px 10px;
    margin: 4px 0;
  }
}

.btn-filter {
  margin-bottom: 24px;
  background: none;
  padding: 2px 6px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  &:hover {
    background-color: #ccc;

  }
}

.filter-box {
  margin-bottom: 24px;
  display: none;
  .filter{
    display: flex;
    gap: 10px;
    li {
      padding: 4px 10px;
      border-radius: 10px;
      background-color: #ccc;
      list-style-type: none;
      font-size: 12px;
    }
  }
  &.show {
    display: block;
  }
}

.product-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 24px;
  .product-item {
    cursor: pointer;
    transition: transform 0.25s ease-in-out;
    &:hover {
      transform: scale(1.05);
    }
  }
}

